{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 80,
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"singleAttributePerLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
