@use 'base';
//starting on mobile

.hidden {
	display: none;
}

.astronav-sticky-header {
	position: sticky;
	top: 0;
	border-bottom: 1px solid red;
	z-index: 20;
	transition: all;
	padding: 5rem 0;

	header {
		display: flex;
		width: 100%;
		justify-items: between;
	}

	.nav-menu {
		.nav-toggle {
			color: red;
		}
	}

	.astronav-div {
		display: flex;
		width: 100%;
		justify-content: between;
	}

	.menu-icon-wrapper {
		display: block;
	}

	.menu-icon {
		width: 40px;
		height: 40px;
		color: red;
	}

	.menu-item {
		display: none;

		ul {
			display: flex;
			flex-direction: column;
		}
	}

	.dropdown {
		button {
			display: flex;
			align-items: center;
		}
	}

	.dropdown-items {
		position: relative;

		.inner-drop {
			background: white;
			top: 2rem;
			width: 100px;
			border: solid 1px;

		}
	}
}


@media (min-width: base.$lg) {
	.astronav-sticky-header {
		.astronav-div {
			width: auto;
		}

		.menuicon-wrapper {
			display: none;
		}


		.menu-item {
			display: flex;
			border: solid;

			ul {
				flex-direction: row;
				gap: 1rem;
			}
		}

		.dropdown-items {

			.inner-drop {
				position: absolute
			}
		}
	}
}
