:root {

	/*idk*/
	--ink: #545454;
	--red: de3341;
	--yellow: #fff2c5;
	--light-green: #e6f0f0;
	--medium-green: #c2d6db;
	--blue-light: #eef7ff;

	/* blue */
	--blue: #2589bd;
	--blue-100: #cfe8f6;
	--blue-200: #a0d1ec;
	--blue-300: #70bbe3;
	--blue-400: #40a4d9;
	--blue-500: #2589bd;
	--blue-600: #1e6c96;
	--blue-700: #165170;
	--blue-800: #0f364b;
	--blue-900: #071b25;

	--green-100: #d2e6e7;
	--green-200: #a4cecf;
	--green-300: #77b5b7;
	--green-400: #509698;
	--green-500: #38686a;
	--green-600: #2d5456;
	--green-700: #223f40;
	--green-800: #172a2b;
	--green-900: #0b1515;

	--primary-100: #d2e6e7;
	--primary-200: #a4cecf;
	--primary-300: #77b5b7;
	--primary-400: #509698;
	--primary-500: #38686a;
	--primary-600: #2d5456;
	--primary-700: #223f40;
	--primary-800: #172a2b;
	--primary-900: #0b1515;

	/* Ash Gray */
	--ash: #a3b4a2;
	--ash-100: #edf0ec;
	--ash-200: #dae1da;
	--ash-300: #c8d2c7;
	--ash-400: #b5c3b4;
	--ash-500: #a3b4a2;
	--ash-600: #7d967c;
	--ash-700: #5c725b;
	--ash-800: #3e4c3d;
	--ash-900: #1f261e;

	/* grey */
	--grey: #d5dadc;
	--grey-100: #f7f7f7;
	--grey-200: #eef0f1;
	--grey-300: #e6e9ea;
	--grey-400: #dee2e3;
	--grey-500: #d5dadc;
	--grey-600: #a6b1b5;
	--grey-700: #77878d;
	--grey-800: #4f5a5f;
	--grey-900: #272d2f;
}
