@use 'base';

mark {
	font-weight: bold;
}

.faq-wrapper {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}


label {
	color: #555;
	margin-bottom: 5px;
	display: block;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {

	width: 100%;
	padding: var(--space-sm);
	margin: var(--space-sm) 0;
	border: 1px solid #ddd;
	border-radius: var(--border-radius);
}

input[type="checkbox"] {
	margin-right: 5px;
	height: 25px;
	width: 25px;
	vertical-align: bottom;

}

a {

	color: #0864bb;

	&.plain {
		color: unset;

		// filter tends to go unnoticed and clober other people later. Be
		// explicit and use the most common semantic things or else you'll get
		// weird behavior later;
		&:hover {
			color: black;
		}

	}


	&.btn {
		position: relative;
		text-align: center;
		border: 1px solid var(--grey-700);
		background-color: var(--primary-300);
		border-radius: var(--border-radius);

		.btn-label {
			position: relative;
			display: block;
			padding: var(--space-xs) var(--space); // px-3.5 py-1.5
			font-weight: bold;
			text-align: center;
			user-select: none;

			border: 1px solid var(--grey-700);
			border-radius: var(--border-radius);

			background-color: white;
			color: var(--ink);

			transform: translateY(-2px);
			transition: all 0.1s;


			&:hover {
				transform: translateY(-4px);
			}

			&:active {
				transform: translateY(-1px);
			}


		}
	}

	&.btn.grey {
		background-color: var(--grey-500);
	}

	&.btn.green {
		background-color: var(--green-300);

		.btn-label {
			color: white;
			border: solid 1px var(--green-600);
			background-color: var(--green-400);
		}
	}


	&.category {
		border-radius: var(--border-radius);
		padding: var(--space-xs) var(--space-md);
		transition-duration: 200ms;
		background-color: var(--grey-200);
		color: var(--ink);
		font-size: var(--text);
		font-weight: bold;
		height: fit-content;

		&:hover {
			filter: brightness(90%);

		}
	}

	&.account-link {
		min-width: min-content;
		white-space: nowrap;
		border-radius: var(--border-radius);
		padding: var(--space-xs) var(--space-md);
		transition-duration: 200ms;
		background-color: var(--grey-100);
		font-weight: bold;
		color: var(--grey-800);

		i {
			font-size: var(--text-md);
		}

		&:hover {
			filter: brightness(90%);

		}

	}

}


button.primary {

	position: relative;
	text-align: center;
	border: 1px solid var(--grey-700);
	background-color: var(--primary-300);
	border-radius: var(--border-radius);


	.btn-label {
		position: relative;
		display: block;
		padding: var(--space-xs) var(--space); // px-3.5 py-1.5
		font-weight: bold;
		text-align: center;
		user-select: none;

		border: 1px solid var(--grey-700);
		border-radius: 24px;
		background-color: white;
		color: var(--ink);
		transform: translateY(-2px);
		transition: all 0.1s;

		&:hover {
			transform: translateY(-3px);
		}

		&:active {
			transform: translateY(-1px);
		}


	}

}

.error {
	color: indianred
}

button.apple {
	display: flex;
	justify-content: center;
	gap: var(--space-lg);
	align-items: center;
	min-width: min-content;
	border-radius: var(--border-radius);
	padding: var(--space-xs) var(--space-md);
	transition-duration: 200ms;
	background-color: white;
	border: solid 1px var(--grey-500);
	width: 100%;
	color: black;
	font-size: var(--text);
	font-weight: normal;
	position: relative;

	img {
		position: absolute;
		left: 0;
		padding: 0 1rem;
		;
	}

	span {
		width: 100%;
	}
}

button.google {
	display: flex;
	justify-content: center;
	gap: var(--space-lg);
	align-items: center;
	min-width: min-content;
	border-radius: var(--border-radius);
	padding: var(--space-xs) var(--space-md);
	transition-duration: 200ms;
	background-color: white;
	border: solid 1px var(--grey-500);
	width: 100%;
	color: black;
	font-size: var(--text);
	font-weight: normal;
	position: relative;

	img {
		position: absolute;
		left: 0;
		padding: 0 1rem;
		;
	}

	span {
		width: 100%;
	}
}

button.warn {
	min-width: min-content;
	border-radius: var(--border-radius);
	padding: var(--space-xs) var(--space-md);
	transition-duration: 200ms;
	background-color: indianred;
	color: white;
	font-size: var(--text);
	font-weight: bold;

	&:hover {
		filter: brightness(90%);

	}
}

button[disabled] {
	background: var(--grey-200)
}

.faq {

	ul {
		list-style: disc;
		padding: 0;
		margin: 0;
		padding-left: 36px;

		li {
			padding: 8px 12px;
		}

		li:last-child {
			border-bottom: none;
		}
	}
}

.form-group {
	margin-bottom: 15px;

	label {
		margin: 0;
	}

	input {
		margin: 0;
	}
}

.name-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	@media (min-width: base.$lg) {
		flex-direction: row;
	}
}

.form-group {
	margin-bottom: 15px;
	width: 100%;
}
