.content {

	hr {
		border: none;
		border-bottom: 1px solid var(--grey-500) !important;
	}

	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html {
		overflow-y: scroll;
		height: 100%;
		font: 100%/1.5 sans-serif;
		word-wrap: break-word;
		margin: 0 auto;
		padding: 1.5em;
	}


	h1,
	h2,
	h3,
	h4 {
		margin: 2.5rem 0 1.5rem 0;
		line-height: 1.25;
	}

	a {
		text-decoration: none;
	}

	a:hover,
	a:focus,
	a:active {
		text-decoration: underline;
	}

	p {
		margin: var(--space-md) 0;
	}

	ol,
	ul {
		margin: 1em;
	}

	ul,
	ol {
		list-style: disc;
		padding: 0;
		margin: 0;
		padding-left: var(--space);

		li {
			padding: var(--space-xs) var(--space);
		}

		li:last-child {
			border-bottom: none;
		}
	}


	img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
		padding: 0.5em;
	}

	blockquote {
		padding-left: 1em;
		font-style: italic;
		border-left: solid 1px var(--green-300);
	}

	table {
		text-align: left;
		caption-side: bottom;
		margin-bottom: 2em;
	}

	table * {
		border: none;
	}

	table thead,
	table tr {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	table tr:nth-child(even) {
		background-color: rgba(200, 200, 200, 0.2);
	}

	table tbody {
		display: block;
		max-height: 70vh;
		overflow-y: auto;
	}

	table td,
	table th {
		padding: 0.25em;
	}
}
