@font-face {
	font-family: 'WintleText';
	src: url('../../src/lib/assets/fonts/Wintle_Text_Web_Regular.woff2')
		format('woff2');
	font-weight: 400;
	/* Normal weight */
	font-style: normal;
}

@font-face {
	font-family: 'WintleText';
	src: url('../../src/lib/assets/fonts/Wintle_Text_Web_Medium.woff2')
		format('woff2');
	font-weight: 500;
	/* Medium weight */
	font-style: normal;
}
