.form {

	input[type="radio"] {
		display: none;
	}

	input[type="checkbox"] {
		display: none;
	}

	.form-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 80vh;
	}

	.form-wrapper {
		min-height: 80vh;
		display: block;
		flex-direction: column;
		margin: 0 auto;
		max-width: 1280px;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: relative;
	}

	.form-step {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative
	}


	.form-header {
		display: flex;
		flex-direction: column;
		gap: var(--space);

		margin-top: var(--space-xl);
		margin-bottom: var(--space-md);

		justify-content: center;
		padding: var(--space-sm);
		text-align: center;

		h1 {
			margin: 0;
			padding: 0;
		}
	}

	.radio-wrapper {
		display: flex;
		justify-content: center;
	}

	.radio-inner {
		max-width: 500px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: var(--text-md);
		font-weight: bold;
		padding: var(--space-sm);
		width: 100%;
		gap: var(--space)
	}

	.radio-button {
		display: flex;
		width: 100%;

		label {
			padding: var(--space-md);
			width: 100%;
			margin: 0;
			border: solid 1px var(--grey-300);

			border-radius: 4px;
			background: var(--grey-100);
			transition: all 300ms;

			&.selected {
				border: solid 2px var(--green-200);
				background: var(--green-100);
				transition: all 200ms;
				transform: scalex(1.04);
			}

			&:hover {
				border: solid 2px var(--green-200);
				background: var(--green-100);
				transition: all 200ms;
				transform: scalex(1.04);
			}
		}
	}

	.nav {
		display: flex;
		gap: var(--space);
		justify-content: center;
	}


}
