dialog {
	border: solid 1px var(--grey-200);
	max-width: 800px;

	.inner-dialog {
		padding: var(--space);
	}

	button {
		border: solid 1px;
		border-radius: var(--border-radius);
		padding: 4px 8px;
		background: var(--ash-200);
	}
}

button.link {
	color: #0864bb;
}

table {
	text-align: left;
	caption-side: bottom;
	margin-bottom: 2em;
}

table * {
	border: none;
}

table thead,
table tr {
	display: table;
	table-layout: fixed;
	width: 100%;
}

table tr:nth-child(even) {
	background-color: rgba(200, 200, 200, 0.2);
}

table tbody {
	display: block;
	max-height: 70vh;
	overflow-y: auto;
}

table td,
table th {
	padding: 0.25em;
}

.floating-data {
	min-width: 300px;
	height: 80%;
	margin: 1rem;
	padding: 1rem;
	position: absolute;
	left: 0;
	border: solid 1px;
	border-radius: var(--border-radius);
}

.button-wrapper {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: var(--space-md) 0;
}

.range-input {
	display: flex;
	flex-direction: column;
	gap: var(--space-xl);
	align-items: center;

	padding: 0 2%;
	margin-top: var(--space-xl);

	label {
		font-size: 32px;
		white-space: nowrap;
	}
}

input[type='range'] {
	display: flex;
}

button.primary {
	position: relative;
	text-align: center;
	border: 1px solid var(--grey-700);
	background-color: var(--primary-300);
	border-radius: var(--border-radius);

	.btn-label {
		position: relative;
		display: block;
		padding: var(--space-xs) var(--space); // px-3.5 py-1.5
		font-weight: bold;
		text-align: center;
		user-select: none;

		border: 1px solid var(--grey-700);
		border-radius: var(--border-radius);
		background-color: white;
		color: var(--ink);
		transform: translateY(-2px);
		transition: all 0.1s;

		&:hover {
			transform: translateY(-3px);
		}

		&:active {
			transform: translateY(-1px);
		}
	}
}

.custom-slider {
	touch-action: manipulation;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 6px;
	background: #ccc;
	border-radius: var(--border-radius);
	outline: none;
}

/* Track: WebKit */
.custom-slider::-webkit-slider-runnable-track {
	border-radius: var(--border-radius);
}

/* Thumb: WebKit */
.custom-slider::-webkit-slider-thumb {
	height: 32px;
	width: 32px;
	-webkit-appearance: none;
	background: #fff;
	border: solid 2px var(--grey-600);
	border-radius: var(--border-radius);
	cursor: pointer;
	margin-top: -5px;
	/* centers the thumb */
}

/* Track: Firefox */
.custom-slider::-moz-range-track {
	height: 6px;
	border-radius: var(--border-radius);
}

/* Thumb: Firefox */
.custom-slider::-moz-range-thumb {
	height: 32px;
	width: 32px;
	background: #fff;
	border: solid 2px var(--grey-600);
	border-radius: var(--border-radius);
	cursor: pointer;
}
