//buttons that look like links

.container {
	display: flex;
	justify-content: center;

}

dialog {
	border: solid 1px var(--grey-200);
	max-width: 800px;

	.inner-dialog {
		padding: var(--space)
	}

	button {
		border: solid 1px;
		border-radius: 4px;
		padding: 4px 8px;
		background: var(--ash-200);
	}
}


button.link {
	color: #0864bb;
}

table {
	text-align: left;
	caption-side: bottom;
	margin-bottom: 2em;
}

table * {
	border: none;
}

table thead,
table tr {
	display: table;
	table-layout: fixed;
	width: 100%;
}

table tr:nth-child(even) {
	background-color: rgba(200, 200, 200, 0.2);
}

table tbody {
	display: block;
	max-height: 70vh;
	overflow-y: auto;
}

table td,
table th {
	padding: 0.25em;
}

.floating-data {
	min-width: 300px;
	height: 80%;
	margin: 1rem;
	padding: 1rem;
	position: absolute;
	left: 0;
	border: solid 1px;
	border-radius: 4px;
}

.button-wrapper {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: var(--space-md) 0;
}

button.primary {
	width: fit-content;
	border-radius: 4px;
	padding: var(--space-xs) var(--space-md);
	transition-duration: 150ms;
	background-color: var(--green-400);
	color: white;
	font-size: var(--text);
	font-weight: bold;

	&:hover {
		filter: brightness(90%);

	}

}

.range-input {
	display: flex;
	flex-direction: column;
	gap: var(--space-xl);
	align-items: center;

	padding: 0 7%;
	margin-top: var(--space-xl);

	label {
		font-size: 32px;
		white-space: nowrap;
	}
}

input[type='range'] {
	display: flex;
}

.custom-slider {
	touch-action: manipulation;
	max-width: 600px;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 6px;
	background: #ccc;
	border-radius: 4px;
	outline: none;
}

/* Track: WebKit */
.custom-slider::-webkit-slider-runnable-track {
	border-radius: 4px;
}

/* Thumb: WebKit */
.custom-slider::-webkit-slider-thumb {
	height: 32px;
	width: 32px;
	-webkit-appearance: none;
	background: #fff;
	border-radius: 4px;
	cursor: pointer;
	margin-top: -5px;
	/* centers the thumb */
}

/* Track: Firefox */
.custom-slider::-moz-range-track {
	height: 6px;
	border-radius: 4px;
}

/* Thumb: Firefox */
.custom-slider::-moz-range-thumb {
	height: 32px;
	width: 32px;
	background: #fff;
	border-radius: 4px;
	cursor: pointer;
}
