@use 'base';
/*
* spacing, layout and structure
* */

hr {
	border: none;
	border-bottom: 1px solid var(--grey-500);
}

section {
	margin: 4rem 0;
}

.container {
	max-width: base.$xl;
	padding: 0 16px;
	margin: 0 auto;

	&.compact {
		max-width: 800px;
	}
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

//larger than 786px
@media (min-width: 786px) {
	section {
		margin: var(--space-xl) 0;
	}
}
