@use 'base';

@media (max-width: base.$lg) {
	.splide {
		position: relative;
		visibility: hidden;
		padding: 0;
		margin: 0;
	}

	.splide__container {
		box-sizing: border-box;
	}

	.splide__list {
		backface-visibility: hidden;
		display: -ms-flexbox;
		display: flex;
		height: 100%;
		margin: 0 !important;
		padding: 0 !important;
	}

	.splide__arrow {
		-ms-flex-align: center;
		align-items: center;
		border-radius: var(--border-radius);
		cursor: pointer;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 0;
		border: 0;
		position: absolute;
		background: transparent;
		fill: var(--green-500);
	}

	.splide__arrow:disabled {
		fill: var(--green-200);
		opacity: 0.3;
		cursor: default;
	}

	.splide__arrow--prev {
		left: 0rem;
	}

	.splide__arrow--next {
		right: 0rem;
	}

	.splide__arrow--prev svg {
		transform: scaleX(-1);
	}

	.splide__pagination {
		display: none;
	}


	.splide.is-initialized,
	.splide.is-rendered {
		visibility: visible;
	}

	.splide__slide {
		backface-visibility: hidden;
		box-sizing: border-box;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		list-style-type: none !important;
		margin: 0;
		padding: var(--space-sm);
		position: relative;
	}

	.splide__sr {
		clip: rect(0 0 0 0);
		border: 0;
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	.splide__track {
		overflow: hidden;
		position: relative;
		z-index: 0;
	}

	.splide__track--draggable {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.splide--rtl {
		direction: rtl;
	}

	.splide__slide {
		padding: 0;
	}

	.splide__arrows {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}

	.splide__arrow {
		height: 1.5rem;
		justify-content: center;
		padding: 0;
		position: absolute;
		width: 1.5rem;
	}

	.splide__arrow svg {
		height: 1.5rem;
		width: 1.5rem;
		transition: fill 0.2s linear;
	}

	.splide__arrow:disabled {
		opacity: 0.3;
	}

	.splide__arrow--prev {
		left: 0rem;
	}

	.splide__arrow--next {
		right: 0rem;
	}
}
